body{background: whith; color: brown}
a:link{color:brown}
a:visited{color: red}
a:hover{text-decoration: none; color: currentColor;text-transform: uppercase}
h1{text-align: center}
img{width: 600px; height:150px; border: 5px solid #8CD5F3}
table{width: 100%; border-collapse: collapse;}
table th{background: green; color: #fff;padding: 5px;}
table td{text-align: center; border: 1px solid brown;}
table tr:nth-child(2n+1){background: #ddd}
iframe{width:550px; border: 2px solid brown;}
ul{list-style-type: square;}
h1{border: 1px solid blue;}
span{border: 1px solid blue}
div{background: #F4A48E; margin-bottom: 5px; color: white; padding: 3px;}
.green{background: green}
.font{font-size: 30px}
#top_area{background: aqua; color: black}